<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>animations</key>
		<dict />
		<key>properties</key>
		<dict>
			<key>spritesheets</key>
			<array>
				<string>06.plist</string>
			</array>
			<key>format</key>
			<integer>2</integer>
		</dict>
	</dict>
</plist>