<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>000.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,18}</string>
				<key>spriteSize</key>
				<string>{8,18}</string>
				<key>textureRect</key>
				<string>{{0,0},{8,18}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>001.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{9,12}</string>
				<key>spriteSize</key>
				<string>{9,12}</string>
				<key>textureRect</key>
				<string>{{9,0},{9,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.4444444444444444,0}</string>
			</dict>
			<key>002.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{16,15}</string>
				<key>spriteSize</key>
				<string>{16,15}</string>
				<key>textureRect</key>
				<string>{{19,0},{16,15}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>003.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,18}</string>
				<key>spriteSize</key>
				<string>{8,18}</string>
				<key>textureRect</key>
				<string>{{36,0},{8,18}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>004.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{9,12}</string>
				<key>spriteSize</key>
				<string>{9,12}</string>
				<key>textureRect</key>
				<string>{{45,0},{9,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.4444444444444444,0}</string>
			</dict>
			<key>005.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{16,15}</string>
				<key>spriteSize</key>
				<string>{16,15}</string>
				<key>textureRect</key>
				<string>{{55,0},{16,15}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>006.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{8,18}</string>
				<key>spriteSize</key>
				<string>{8,18}</string>
				<key>textureRect</key>
				<string>{{72,0},{8,18}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>007.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{9,12}</string>
				<key>spriteSize</key>
				<string>{9,12}</string>
				<key>textureRect</key>
				<string>{{81,0},{9,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.4444444444444444,0}</string>
			</dict>
			<key>008.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{9,12}</string>
				<key>spriteSize</key>
				<string>{9,12}</string>
				<key>textureRect</key>
				<string>{{91,0},{9,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.4444444444444444,0}</string>
			</dict>
			<key>009.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{48,12}</string>
				<key>spriteSize</key>
				<string>{48,12}</string>
				<key>textureRect</key>
				<string>{{101,0},{48,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0010.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{48,12}</string>
				<key>spriteSize</key>
				<string>{48,12}</string>
				<key>textureRect</key>
				<string>{{150,0},{48,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0011.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{16,15}</string>
				<key>spriteSize</key>
				<string>{16,15}</string>
				<key>textureRect</key>
				<string>{{199,0},{16,15}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0012.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{48,12}</string>
				<key>spriteSize</key>
				<string>{48,12}</string>
				<key>textureRect</key>
				<string>{{0,19},{48,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0013.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{18,64}</string>
				<key>spriteSize</key>
				<string>{18,64}</string>
				<key>textureRect</key>
				<string>{{49,19},{18,64}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5555555555555556,0}</string>
			</dict>
			<key>0014.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{18,13}</string>
				<key>spriteSize</key>
				<string>{18,13}</string>
				<key>textureRect</key>
				<string>{{68,19},{18,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5555555555555556,0}</string>
			</dict>
			<key>0015.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,26}</string>
				<key>spriteSize</key>
				<string>{14,26}</string>
				<key>textureRect</key>
				<string>{{87,19},{14,26}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0016.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,26}</string>
				<key>spriteSize</key>
				<string>{14,26}</string>
				<key>textureRect</key>
				<string>{{102,19},{14,26}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0017.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,26}</string>
				<key>spriteSize</key>
				<string>{14,26}</string>
				<key>textureRect</key>
				<string>{{117,19},{14,26}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0018.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,26}</string>
				<key>spriteSize</key>
				<string>{14,26}</string>
				<key>textureRect</key>
				<string>{{132,19},{14,26}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0019.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,26}</string>
				<key>spriteSize</key>
				<string>{14,26}</string>
				<key>textureRect</key>
				<string>{{147,19},{14,26}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0020.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{18,13}</string>
				<key>spriteSize</key>
				<string>{18,13}</string>
				<key>textureRect</key>
				<string>{{162,19},{18,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5555555555555556,0}</string>
			</dict>
			<key>0021.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{192,16}</string>
				<key>spriteSize</key>
				<string>{192,16}</string>
				<key>textureRect</key>
				<string>{{0,84},{192,16}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0022.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{18,13}</string>
				<key>spriteSize</key>
				<string>{18,13}</string>
				<key>textureRect</key>
				<string>{{193,84},{18,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5555555555555556,0}</string>
			</dict>
			<key>0023.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{212,84},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0024.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{227,84},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0025.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{0,101},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0026.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{15,101},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0027.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{30,101},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0028.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{10,10}</string>
				<key>spriteSize</key>
				<string>{10,10}</string>
				<key>textureRect</key>
				<string>{{45,101},{10,10}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.6,0}</string>
			</dict>
			<key>0029.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{18,13}</string>
				<key>spriteSize</key>
				<string>{18,13}</string>
				<key>textureRect</key>
				<string>{{56,101},{18,13}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5555555555555556,0}</string>
			</dict>
			<key>0030.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{75,101},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0031.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{90,101},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0032.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{105,101},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0033.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{120,101},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0034.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{135,101},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0035.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{38,8}</string>
				<key>spriteSize</key>
				<string>{38,8}</string>
				<key>textureRect</key>
				<string>{{150,101},{38,8}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5263157894736842,0}</string>
			</dict>
			<key>0036.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{38,8}</string>
				<key>spriteSize</key>
				<string>{38,8}</string>
				<key>textureRect</key>
				<string>{{189,101},{38,8}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5263157894736842,0}</string>
			</dict>
			<key>0037.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{38,8}</string>
				<key>spriteSize</key>
				<string>{38,8}</string>
				<key>textureRect</key>
				<string>{{0,115},{38,8}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5263157894736842,0}</string>
			</dict>
			<key>0038.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{128,10}</string>
				<key>spriteSize</key>
				<string>{128,10}</string>
				<key>textureRect</key>
				<string>{{39,115},{128,10}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0039.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{48,22}</string>
				<key>spriteSize</key>
				<string>{48,22}</string>
				<key>textureRect</key>
				<string>{{168,115},{48,22}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0040.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{48,22}</string>
				<key>spriteSize</key>
				<string>{48,22}</string>
				<key>textureRect</key>
				<string>{{0,138},{48,22}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0041.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{48,22}</string>
				<key>spriteSize</key>
				<string>{48,22}</string>
				<key>textureRect</key>
				<string>{{49,138},{48,22}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0042.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{52,12}</string>
				<key>spriteSize</key>
				<string>{52,12}</string>
				<key>textureRect</key>
				<string>{{98,138},{52,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0043.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{4,8}</string>
				<key>spriteSize</key>
				<string>{4,8}</string>
				<key>textureRect</key>
				<string>{{151,138},{4,8}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0044.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{16,8}</string>
				<key>spriteSize</key>
				<string>{16,8}</string>
				<key>textureRect</key>
				<string>{{156,138},{16,8}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0045.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{32,24}</string>
				<key>spriteSize</key>
				<string>{32,24}</string>
				<key>textureRect</key>
				<string>{{173,138},{32,24}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0046.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,20}</string>
				<key>spriteSize</key>
				<string>{14,20}</string>
				<key>textureRect</key>
				<string>{{206,138},{14,20}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0047.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,20}</string>
				<key>spriteSize</key>
				<string>{14,20}</string>
				<key>textureRect</key>
				<string>{{221,138},{14,20}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0048.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{7,10}</string>
				<key>spriteSize</key>
				<string>{7,10}</string>
				<key>textureRect</key>
				<string>{{236,138},{7,10}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0049.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{7,10}</string>
				<key>spriteSize</key>
				<string>{7,10}</string>
				<key>textureRect</key>
				<string>{{0,163},{7,10}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0050.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{16,10}</string>
				<key>spriteSize</key>
				<string>{16,10}</string>
				<key>textureRect</key>
				<string>{{8,163},{16,10}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0051.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{25,163},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0052.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{40,163},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0053.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{55,163},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0054.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{70,163},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0055.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,12}</string>
				<key>spriteSize</key>
				<string>{14,12}</string>
				<key>textureRect</key>
				<string>{{85,163},{14,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0056.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,12}</string>
				<key>spriteSize</key>
				<string>{12,12}</string>
				<key>textureRect</key>
				<string>{{100,163},{12,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0057.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,12}</string>
				<key>spriteSize</key>
				<string>{12,12}</string>
				<key>textureRect</key>
				<string>{{113,163},{12,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0058.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{12,12}</string>
				<key>spriteSize</key>
				<string>{12,12}</string>
				<key>textureRect</key>
				<string>{{126,163},{12,12}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0059.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{4,10}</string>
				<key>spriteSize</key>
				<string>{4,10}</string>
				<key>textureRect</key>
				<string>{{139,163},{4,10}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0060.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{4,10}</string>
				<key>spriteSize</key>
				<string>{4,10}</string>
				<key>textureRect</key>
				<string>{{144,163},{4,10}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0061.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{16,10}</string>
				<key>spriteSize</key>
				<string>{16,10}</string>
				<key>textureRect</key>
				<string>{{149,163},{16,10}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0062.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{18,17}</string>
				<key>spriteSize</key>
				<string>{18,17}</string>
				<key>textureRect</key>
				<string>{{166,163},{18,17}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5555555555555556,0}</string>
			</dict>
			<key>0063.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{18,17}</string>
				<key>spriteSize</key>
				<string>{18,17}</string>
				<key>textureRect</key>
				<string>{{185,163},{18,17}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5555555555555556,0}</string>
			</dict>
			<key>0064.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{18,17}</string>
				<key>spriteSize</key>
				<string>{18,17}</string>
				<key>textureRect</key>
				<string>{{204,163},{18,17}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5555555555555556,0}</string>
			</dict>
			<key>0065.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{18,17}</string>
				<key>spriteSize</key>
				<string>{18,17}</string>
				<key>textureRect</key>
				<string>{{223,163},{18,17}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5555555555555556,0}</string>
			</dict>
			<key>0066.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{18,17}</string>
				<key>spriteSize</key>
				<string>{18,17}</string>
				<key>textureRect</key>
				<string>{{0,181},{18,17}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5555555555555556,0}</string>
			</dict>
			<key>0067.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{32,24}</string>
				<key>spriteSize</key>
				<string>{32,24}</string>
				<key>textureRect</key>
				<string>{{19,181},{32,24}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0068.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,20}</string>
				<key>spriteSize</key>
				<string>{14,20}</string>
				<key>textureRect</key>
				<string>{{52,181},{14,20}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0069.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,20}</string>
				<key>spriteSize</key>
				<string>{14,20}</string>
				<key>textureRect</key>
				<string>{{67,181},{14,20}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0070.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{32,24}</string>
				<key>spriteSize</key>
				<string>{32,24}</string>
				<key>textureRect</key>
				<string>{{82,181},{32,24}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5,0}</string>
			</dict>
			<key>0071.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,20}</string>
				<key>spriteSize</key>
				<string>{14,20}</string>
				<key>textureRect</key>
				<string>{{115,181},{14,20}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
			<key>0072.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{14,20}</string>
				<key>spriteSize</key>
				<string>{14,20}</string>
				<key>textureRect</key>
				<string>{{130,181},{14,20}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5714285714285714,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>00.png</string>
			<key>textureFileName</key>
			<string>00.png</string>
			<key>size</key>
			<string>{244,206}</string>
		</dict>
	</dict>
</plist>