<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ranarh_ChippedStone_Frames (1)0.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{3215,822}</string>
				<key>spriteSize</key>
				<string>{3215,822}</string>
				<key>textureRect</key>
				<string>{{0,1},{3215,822}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5001555209953343,0}</string>
			</dict>
			<key>Ranarh_ChippedStone_Frames (1)1.png</key>
			<dict>
				<key>aliases</key>
				<array />
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{3215,822}</string>
				<key>spriteSize</key>
				<string>{3215,822}</string>
				<key>textureRect</key>
				<string>{{0,824},{3215,822}}</string>
				<key>textureRotated</key>
				<false />
				<key>anchor</key>
				<string>{0.5001555209953343,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>realTextureFileName</key>
			<string>Ranarh_ChippedStone_Frames (1).png</string>
			<key>textureFileName</key>
			<string>Ranarh_ChippedStone_Frames (1).png</string>
			<key>size</key>
			<string>{3216,1646}</string>
		</dict>
	</dict>
</plist>